.vscodeignore
.gitignore

.vscode/**
.vscode-test/**
.github/**

media/**
shared/**
src/**
.esbuild.config.js
eslint.config.mjs
package-lock.json
tsconfig.json

node_modules/**
dist/**/*.map
*.cpuprofile
*.vsix

# We need the codicon node module included for the fonts + icons to work
!node_modules/@vscode/codicons/dist
